<link rel="stylesheet" href="/styles.css"
<h1 id="login-header">Login</h1>

<% if @error_message %>
  <p style="color: red;"><%= @error_message %></p>
<% end %>

<form id="login-section" action="/login" method="post">
  <label for="email">Email:</label>
  <input type="email" name="email" required><br>

  <label for="password">Password:</label>
  <input type="password" name="password" required><br>

  <input type="submit" value="Login">
</form>

<p><a href="/">Back to Home</a></p>
