<h1>Register</h1>
<% if @error_messages %>
  <p style="color: red;"><%= @error_messages.join('<br>') %></p>
<% end %>
<form action="/register" method="post">
  <label for="first_name">First Name:</label>
  <input type="text" name="first_name" required minlength="3"><br>

  <label for="last_name">Last Name:</label>
  <input type="text" name="last_name" required minlength="3"><br>

  <label for="email">Email:</label>
  <input type="email" name="email" required><br>

  <label for="password">Password:</label>
  <input type="password" name="password" required minlength="8"><br>

  <label for="confirm_password">Confirm Password:</label>
  <input type="password" name="confirm_password" required><br>

  <input type="submit" value="Register">
</form>
<p><a href="/">Back to Home</a></p>
