<link rel="stylesheet" href="public/styles.css"
<h1>Search Results</h1>

<section>
  <% if @results.any? %>
    <ul>
      <% @results.each do |result| %>
        <li><%= result['title'] || result['backdrop_path'] || result['id'] || result['overview'] %></li>
      <% end %>
    </ul>
  <% else %>
    <p>No results found.</p>
  <% end %>
</section>

<a href="/dashboard">TV Shows</a>

<form action="/logout" method="post">
  <input type="submit" value="Logout">
</form>
